body {
	max-width: 90%;
	margin: 0 auto;
}

.top {
    background-color: #3B2800;
    display: flex;
    padding-left: 70px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    max-width: 85px;
    max-height: 65px;
}

.navigation {
    margin-left: 320px;
}

.navigation ul li {
	display: inline-block;
	vertical-align: top;
}

.navigation a {
	color: grey;
	text-decoration: none;
	padding: 15px;
	font-size: 15px;
}

.navigation ul li:hover a {
	color: white;
}

.aprasymas {
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 40px;
    background-color: #FFFFF3;
}

.first_page img {
     max-width: 300px;
     max-height: 400px;
     float: left;
     position: relative;
}

.first_page {
	background-color: #3B2800;
	position: absolute;
}

.first_page div {
    padding: 50px;
    position: relative;
}

.first_page h3 {
	color: white;
	text-align: left;
	position: relative;
}

.first_page p {
	color: white;
	text-align: left;
	position: relative;
}